@keyframes textLR {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes textRL {
    from {
        transform: translateX(100vw);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animateTextLR {
    animation: textLR 1500ms ease-in-out 1ms 1 normal none;
}

.animateTextRL {
    animation: textRL 1500ms ease-in-out 1ms 1 normal none;
}