@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url(/public/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat-L';
    src: url(/public/Montserrat/static/Montserrat-Regular.ttf);
}

body {
    font-family: 'Montserrat', 'Times New Roman';
}

.montserratL {
    font-family: 'Montserrat-L';
}